{% extends 'base.html' %}

{% block title %}Reward List{% endblock title %}

{% block content %}

<div class="container">

    <h2>Reward List</h2>

    <a href="{% url 'rewardsapp:reward_new' %}" class="btn btn-primary">Add Reward</a>

    <br />
    <br />

    <div>
        <table class="table table-striped table-bordered table-hover" id="tbl">
            <thead>
                <tr class="bg-info">
                    <th>Actions</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                {% for reward in rewards %}
                <tr>
                    <td>
                        <a href="{% url 'rewardsapp:reward_edit' reward_id=reward.pk %}">Edit</a>
                    </td>

                    <td>{{ reward.name }}</td>
                    <td>{{ reward.description }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock content %}

{% block script %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">

<script src="{% static 'js/datatables.min.js' %}"></script>

<script>

    $(function () {

        $("#tbl").DataTable({
            "columnDefs": [
                {
                    "targets": [0], "searchable": false, "orderable": false
                }
            ]
        });

    });

</script>

{% endblock script %}